<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <httpCookies sameSite="Lax" requireSSL="true" />
      <customErrors mode="On" defaultRedirect="/Paginas/PaginaErros/PaginaErros.html?code=generic">
          <error statusCode="404" redirect="/Paginas/PaginaErros/PaginaErros.html?code=404" />
          <error statusCode="500" redirect="/Paginas/PaginaErros/PaginaErros.html?code=500" />
          <error statusCode="403" redirect="/Paginas/PaginaErros/PaginaErros.html?code=403" />
          <error statusCode="401" redirect="/Paginas/PaginaErros/PaginaErros.html?code=401" />
          <error statusCode="502" redirect="/Paginas/PaginaErros/PaginaErros.html?code=502" />
      </customErrors>
    <globalization culture="pt-BR" uiCulture="pt-BR" />
  </system.web>

<system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://configurador.redutoresibr.com.br/{R:1}" redirectType="Permanent" />
        </rule>

        <rule name="Canonical Host" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^configurador\.redutoresibr\.com\.br$" negate="true" />
             <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://configurador.redutoresibr.com.br/{R:1}" redirectType="Permanent" />
        </rule>

        <rule name="Friendly ConfiguradorIBRQ" stopProcessing="true">
          <match url="^ConfiguradorIBRQ/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)QULN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorQU.html" />
        </rule>

        <rule name="Friendly ConfiguradorIBRQDR" stopProcessing="true">
          <match url="^ConfiguradorIBRQDR/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)QULN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorQUDR.html" />
        </rule>

        <rule name="Friendly ConfiguradorIBRQP" stopProcessing="true">
          <match url="^ConfiguradorIBRQP/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)QULN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorQUDR.html" />
        </rule>

        <rule name="Friendly ConfiguradorIBRC" stopProcessing="true">
          <match url="^ConfiguradorIBRC/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)HYLN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorHY.html" />
        </rule>

        <rule name="Friendly ConfiguradorIBRH" stopProcessing="true">
          <match url="^ConfiguradorIBRH/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)HYLN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorHY.html" />
        </rule>

        <rule name="Friendly ConfiguradorIBRM" stopProcessing="true">
          <match url="^ConfiguradorIBRM/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)HYLN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorHY.html" />
        </rule>

        <rule name="Friendly ConfiguradorIBRP" stopProcessing="true">
          <match url="^ConfiguradorIBRP/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)HYLN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorHY.html" />
        </rule>

        <rule name="Friendly ConfiguradorIBRR" stopProcessing="true">
          <match url="^ConfiguradorIBRR/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)HYLN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorHY.html" />
        </rule>

        <rule name="Friendly ConfiguradorIBRX" stopProcessing="true">
          <match url="^ConfiguradorIBRX/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)HYLN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorHY.html" />
        </rule>

        <rule name="Friendly ConfiguradorIBRPFFA" stopProcessing="true">
          <match url="^ConfiguradorIBRPFFA/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)FXLN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorFX.html" />
        </rule>

        <rule name="Friendly ConfiguradorIBRXFKA" stopProcessing="true">
          <match url="^ConfiguradorIBRXFKA/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)FXLN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorFX.html" />
        </rule>

        <rule name="Friendly ConfiguradorIBRCFR" stopProcessing="true">
          <match url="^ConfiguradorIBRCFR/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)FXLN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorFX.html" />
        </rule>

        <rule name="Friendly ConfiguradorMSML" stopProcessing="true">
          <match url="^ConfiguradorIBRMSML/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)MOLN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorMO.html" />
        </rule>

        <rule name="Friendly ConfiguradorIBRT3AT3C" stopProcessing="true">
          <match url="^ConfiguradorIBRT3AT3C/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)MOLN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorMO.html" />
        </rule>

        <rule name="Friendly ConfiguradorWEGALTORENDIMENTO" stopProcessing="true">
          <match url="^ConfiguradorWEGALTORENDIMENTO/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)MOLN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorMO.html" />
        </rule>

        <rule name="Friendly ConfiguradorANTICORROSIVOSAPM" stopProcessing="true">
          <match url="^ConfiguradorANTICORROSIVOSAPM/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)MOLN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorMO.html" />
        </rule>

        <rule name="Friendly ConfiguradorANTICORROSIVOSSPM" stopProcessing="true">
          <match url="^ConfiguradorANTICORROSIVOSSPM/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)MOLN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorMO.html" />
        </rule>

        <rule name="Friendly ConfiguradorIBRPB" stopProcessing="true">
          <match url="^ConfiguradorIBRPB/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)PLLN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorPL.html" />
        </rule>

        <rule name="Friendly ConfiguradorIBRPBL" stopProcessing="true">
          <match url="^ConfiguradorIBRPBL/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)PLLN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorPL.html" />
        </rule>

        <rule name="Friendly ConfiguradorIBRSA" stopProcessing="true">
          <match url="^ConfiguradorIBRSA/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)PLLN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorPL.html" />
        </rule>

        <rule name="Friendly ConfiguradorIBRSB" stopProcessing="true">
          <match url="^ConfiguradorIBRSB/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)PLLN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorPL.html" />
        </rule>

        <rule name="Friendly ConfiguradorIBRSBL" stopProcessing="true">
          <match url="^ConfiguradorIBRSBL/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)PLLN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorPL.html" />
        </rule>

        <rule name="Friendly ConfiguradorIBRSD" stopProcessing="true">
          <match url="^ConfiguradorIBRSD/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)PLLN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorPL.html" />
        </rule>

        <rule name="Friendly ConfiguradorIBRV" stopProcessing="true">
          <match url="^ConfiguradorIBRV/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)VALN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorVA.html" />
        </rule>

        <rule name="Friendly ConfiguradorIBRI" stopProcessing="true">
          <match url="^ConfiguradorIBRI/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)ACLN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorAC.html" />
        </rule>

        <rule name="Friendly ConfiguradorIBRZ" stopProcessing="true">
          <match url="^ConfiguradorIBRZ/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)ACLN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorAC.html" />
        </rule>

        <rule name="Friendly ConfiguradorIBRVFN" stopProcessing="true">
          <match url="^ConfiguradorIBRVFN/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)ACLN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorAC.html" />
        </rule>

        <rule name="Friendly ConfiguradorIBRGR" stopProcessing="true">
          <match url="^ConfiguradorIBRGR/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)AELN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorAE.html" />
        </rule>

        <rule name="Friendly ConfiguradorIBRGS" stopProcessing="true">
          <match url="^ConfiguradorIBRGS/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)AELN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorAE.html" />
        </rule>

        <rule name="Friendly ConfiguradorIBRRIC" stopProcessing="true">
          <match url="^ConfiguradorIBRRIC/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)AELN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorAE.html" />
        </rule>

        <rule name="Friendly ConfiguradorIBRK" stopProcessing="true">
          <match url="^ConfiguradorIBRK/?$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)INLN=" />
          </conditions>
          <action type="Rewrite" url="/Paginas/Configuradores/ConfiguradorIN.html" />
        </rule>

        <rule name="Friendly AreaCliente" stopProcessing="true">
          <match url="^AreaCliente/?$" />
          <action type="Rewrite" url="/Paginas/AreaCliente/AcessoCadastro/AcessoCadastro.html" appendQueryString="true" />
        </rule>
        
        <rule name="Friendly AreaClienteCadastro" stopProcessing="true">
          <match url="^AreaCliente/Cadastro/?$" />
          <action type="Rewrite" url="/Paginas/AreaCliente/AcessoCadastro/AcessoCadastro.htmltab=cadastrar" appendQueryString="true" />
        </rule>

        <rule name="Friendly AreaClienteSessao" stopProcessing="true">
          <match url="^AreaCliente/Sessao/?$" />
          <action type="Rewrite" url="/Paginas/AreaCliente/Sessao/AreaLogada.html" />
        </rule>
        
        <rule name="Friendly AreaClienteProdutos" stopProcessing="true">
          <match url="^AreaCliente/Produtos/?$" />
          <action type="Rewrite" url="/Paginas/AreaCliente/Sessao/AreaLogada.html" />
        </rule>

        <rule name="Friendly AreaClienteDesenhos" stopProcessing="true">
          <match url="^AreaCliente/Desenhos/?$" />
          <action type="Rewrite" url="/Paginas/AreaCliente/Sessao/AreaLogada.html" />
        </rule>

        <rule name="Friendly AreaClienteCotacoes" stopProcessing="true">
          <match url="^AreaCliente/Cotacoes/?$" />
          <action type="Rewrite" url="/Paginas/AreaCliente/Sessao/AreaLogada.html" />
        </rule>

        <rule name="Friendly AreaClienteCadastros" stopProcessing="true">
          <match url="^AreaCliente/Cadastros/?$" />
          <action type="Rewrite" url="/Paginas/AreaCliente/Sessao/AreaLogada.html" />
        </rule>

        <rule name="Friendly EditarPerfilConfirmacao" stopProcessing="true">
          <match url="^AreaCliente/Sessao/EditarPerfil/EditarPerfil\.php$" />
          <action type="Rewrite" url="/Paginas/AreaCliente/Sessao/EditarPerfil/EditarPerfil.php" appendQueryString="true" />
        </rule>

        <rule name="Friendly PoliticaPrivacidade" stopProcessing="true">
          <match url="^PoliticaPrivacidade/?$" />
          <action type="Rewrite" url="/Paginas/PoliticaPrivacidade.html" />
        </rule>

        <rule name="Friendly AreaClienteSair" stopProcessing="true">
          <match url="^AreaCliente/Sair/?$" />
          <action type="Rewrite" url="/Paginas/AreaCliente/Sessao/Sair/Sair.php" />
        </rule>

      </rules>
    </rewrite>

    <defaultDocument>
      <files>
        <clear />
        <add value="RedutoresIBR.html" />
      </files>
    </defaultDocument>

<httpErrors errorMode="Custom" existingResponse="Replace">
    <remove statusCode="404" />
    <error statusCode="404" path="/Paginas/PaginaErros/PaginaErros.html?code=404" responseMode="ExecuteURL" />
    <remove statusCode="500" />
    <error statusCode="500" path="/Paginas/PaginaErros/PaginaErros.html?code=500" responseMode="ExecuteURL" />
    <remove statusCode="403" />
    <error statusCode="403" path="/Paginas/PaginaErros/PaginaErros.html?code=403" responseMode="ExecuteURL" />
    <remove statusCode="401" />
    <error statusCode="401" path="/Paginas/PaginaErros/PaginaErros.html?code=401" responseMode="ExecuteURL" />
    <remove statusCode="502" />
    <error statusCode="502" path="/Paginas/PaginaErros/PaginaErros.html?code=502" responseMode="ExecuteURL" />
</httpErrors>


    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <scheme name="deflate" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>

    <urlCompression doStaticCompression="true" doDynamicCompression="true" />

    <caching enabled="true" enableKernelCache="true">
      <profiles>
        <add extension=".html" policy="CacheUntilChange" duration="01:00:00" />
        <add extension=".css" policy="CacheUntilChange" duration="30.00:00:00" />
        <add extension=".js" policy="CacheUntilChange" duration="30.00:00:00" />
        <add extension=".png" policy="CacheUntilChange" duration="30.00:00:00" />
        <add extension=".jpg" policy="CacheUntilChange" duration="30.00:00:00" />
        <add extension=".webp" policy="CacheUntilChange" duration="30.00:00:00" />
        <add extension=".svg" policy="CacheUntilChange" duration="30.00:00:00" />
      </profiles>
    </caching>

    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" cacheControlCustom="public" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>

  </system.webServer>

  <location path="Paginas/PaginaErros/PaginaErros.html">
    <system.webServer>
      <applicationInitialization doAppInitAfterRestart="true">
        <add initializationPage="/" />
      </applicationInitialization>
      <httpProtocol>
        <customHeaders>
          <add name="X-Robots-Tag" value="noindex" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>

  
    <!-- Allow other API endpoints to return JSON or text for rate limit errors -->
  <location path="Paginas/SolicitacaoCotacao/SolicitacaoCotacao.php">
    <system.web>
      <customErrors mode="Off" />
    </system.web>
    <system.webServer>
      <httpErrors existingResponse="PassThrough" />
    </system.webServer>
  </location>

  <location path="Paginas/SolicitacaoDesenho/SolicitacaoDesenho.php">
    <system.web>
      <customErrors mode="Off" />
    </system.web>
    <system.webServer>
      <httpErrors existingResponse="PassThrough" />
    </system.webServer>
  </location>

  <location path="Paginas/AreaCliente/AcessoCadastro/Cadastro/CadastrarUsuario.php">
    <system.web>
      <customErrors mode="Off" />
    </system.web>
    <system.webServer>
      <httpErrors existingResponse="PassThrough" />
    </system.webServer>
  </location>
  <location path="Paginas/AreaCliente/AcessoCadastro/Acesso/Login.php">
    <system.web>
      <customErrors mode="Off" />
    </system.web>
    <system.webServer>
      <httpErrors existingResponse="PassThrough" />
    </system.webServer>
  </location>
  <location path="Paginas/AreaCliente/AcessoCadastro/Acesso/RedefinirSenhaAPI.php">
      <system.web>
      <customErrors mode="Off" />
    </system.web>
    <system.webServer>
      <httpErrors existingResponse="PassThrough" />
    </system.webServer>
  </location>
    <location path="Paginas/AreaCliente/AcessoCadastro/Acesso/RecuperarSenha.php">
    <system.web>
      <customErrors mode="Off" />
    </system.web>
    <system.webServer>
      <httpErrors existingResponse="PassThrough" />
    </system.webServer>
  </location>
  <location path="Paginas/AreaCliente/Sessao/EditarPerfil/SolicitarAtualizacao.php">
    <system.web>
      <customErrors mode="Off" />
    </system.web>
    <system.webServer>
      <httpErrors existingResponse="PassThrough" />
    </system.webServer>
  </location>
  
  <location path="Paginas/AreaCliente/Sessao/EditarPerfil/EditarPerfil.php">
    <system.web>
      <customErrors mode="Off" />
    </system.web>
    <system.webServer>
      <httpErrors existingResponse="PassThrough" />
    </system.webServer>
  </location>

  <location path="Paginas/AreaCliente/Sessao/SenhaExpirada/SenhaExpirada.php">
      <system.web>
      <customErrors mode="Off" />
    </system.web>
    <system.webServer>
      <httpErrors existingResponse="PassThrough" />
    </system.webServer>
  </location>
  
  <!-- Disable caching for Service-Worker to guarantee immediate updates -->
  <location path="Service-Worker.min.js">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
  </location>
    <!-- Cache fonts for one year to improve repeat visits -->
  <location path="Layout/Fontes">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" cacheControlCustom="public" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>
